[Desktop Entry]
Type=Application
Name=NVIDIA Driver Manager
Comment=Check, download, and install NVIDIA driver updates
Exec=nvidia-driver-manager install --force
Icon=nvidia-settings
Terminal=false
Categories=System;Settings;
StartupNotify=true
