[Unit]
Description=NVIDIA Driver Manager update check
Documentation=man:nvidia-driver-manager(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-driver-manager check
