[Unit]
Description=Weekly NVIDIA Driver Manager update check

[Timer]
OnBootSec=15m
OnUnitActiveSec=7d
Persistent=true

[Install]
WantedBy=timers.target
