[Unit]
Description=NVIDIA Driver Manager offline install
After=multi-user.target
Wants=multi-user.target
ConditionPathExists=/var/lib/nvidia-driver-manager/pending-installer

[Service]
Type=oneshot
ExecStart=/usr/libexec/nvidia-driver-manager/offline-install.sh
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
