Source: nvidia-driver-manager
Section: admin
Priority: optional
Maintainer: Brian Hallett <wahoo8@live.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: nvidia-driver-manager
Architecture: all
Depends: ${misc:Depends}
 bash,
 curl,
 dkms,
 kmod,
 libxml2-utils,
 mokutil,
 pkexec,
 polkitd,
 procps,
 sed,
 systemd,
 util-linux,
 build-essential,
 perl,
 zenity
Description: NVidia Driver automatic updates.
