Package: nvidia-driver-manager
Version: 0.7.0
Architecture: all
Maintainer: Brian Hallett <wahoo8@live.com>
Installed-Size: 70
Section: admin
Priority: optional
Description: NVidia Driver automatic updates.
